body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.pokemonCard {
  display: flex;
  flex-direction: column;
  flex-wrap:wrap;
}

.card {
  width: 300px;
  background-color: rgb(255, 255, 240);
  height: 450px;
  border: 7px solid rgb(233, 220, 201);
  border-radius: 8px;
  margin: 16px;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name {
  order: 1;
  flex: 1;
  font-size: 20px;
}

.health {
  order: 2;
  flex:1;
  font-size: 20px;
  color: red;
}

.type {
  order: 3;
  flex: 0.5;
  width: 25px;
  height: 25px;
}

.pokemonPicture {
  display: flex;
  align-items: center;
  width: 225px;
  height: 225px;
  border: 7px solid rgb(233, 220, 201);
  border-radius: 8px;
}

.description1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.energy1 {
  width: 25px;
  height: 25px;
  order: 1;
  flex: 1;
}

.move1 {
  order: 2;
  flex:1;
  font-size: 20px;
}

.number1 {
  order: 3;
  flex: 1;
  font-size: 20px;
}

.description2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.energy2 {
  width: 25px;
  height: 25px;
  order: 1;
  flex: 0.5;
}

.energy3 {
  width: 25px;
  height: 25px;
  order: 2;
  flex: 0.5;
}

.move2 {
  order: 3;
  flex:1;
  font-size: 20px;
}

.number2 {
  order: 4;
  flex: 1;
  font-size: 20px;
}

.otherInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: italic;
}

.weakness {
  order: 1;
  flex: 1;
}

.resistance {
  order: 2;
  flex:1;
}

.retreatCost {
  order: 3;
  flex:1;
}

.otherInfoImg {
  display: flex;
  justify-content:space-around;
}
.weaknessImg {
  width: 25px;
  height: 25px;
  order: 1;
  flex: 1;
}
.resistanceImg {
  width: 25px;
  height: 25px;
  order: 2;
  flex:1;
}
.retreatCostImg {
  width: 25px;
  height: 25px;
  order: 3;
  flex: 1;
}
.retreatCostImg2 {
  width: 25px;
  height: 25px;
  order: 4;
  flex: 0.5;
}